/* Tutto il file */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    background-color: #222222;
}

.menuText {
    padding-left: 10px;
    color: white;
    position: relative;
    top:15px;
    left: 5%;
}

#header {
    width: 100%;
    height: 50px; 
    background-color: #F0D64E;

}

#logo img{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
}